html {
    font-family: 'Poppins', sans-serif;
    color: #59b5bf;
    padding: 0;
    text-shadow: 1px 1px 1px #2b5252;
  }
body {
    background-image: url(still.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    resize: both;
    overflow: hidden;
}
@media only screen and (max-width: 600px) {
  body {
    background-image: url(still_mobile.jpg);
  }
}
#virgoloco {
  background-image: url(virgoloco_logo4.png);
  height: 10vw;
  width: 80vw;
  background-size: cover;
  background-position: center;
  align-self: self-end;
  margin: 50px 0px 5px 0px;
  /* animation: swell 1s infinite;
  animation-timing-function: ease;
  animation-direction: alternate; */
}
@keyframes swell {
  from {height: 9vw; width: 70vw;}
  to {height: 10vw; width: 80vw;}
}
@keyframes spread {
  from {width: 00vw;}
  to {width: 54vw;}
}

#date {
  align-self: self-start;
  font-size: 4.5vw;
}
[id*="djs-"] {
  font-size: 5vw;
  align-self: self-end;
}

#location {
  background-image: url(sloterpark.png);
  height: 7vw;
  width: 54vw;
  background-size: cover;
  background-position: center;
  align-self: self-start;
  /* animation: spread 5s infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate; */
}

#location {
  font-size: 6vw;
}
#loclink {
  align-self: self-start;
}
#map {
  background-color: rgba(16, 48, 58, 0.445);
  /* position: fixed;
  bottom: 6vw;
  right: 3vw; */
  width: 75%;
  height: 55vw;
  animation: mapGrow 1.5s 1;
  border: 0;
  border-color:  #2b5252;
  margin-right: 10px;
  border-radius: 15px;
  border: 2px solid #59b5bf;
  filter: drop-shadow(.1rem .1rem .2rem rgb(12, 42, 44));
}
/* #map:hover {
  position:fixed; 
  bottom: 20px;
  right: 0;
  animation: mapGrow 0.5s 1;
} 
@keyframes mapGrow {
  from {width: 35%; height: 25vw;}
  to {width: 85%; height: 25vw;}
} */
#info {
  font-size: 7vw;
  background-color: rgba(16, 48, 58, 0.445);
  background-image: url(circle-info-solid-blue.svg);
  background-position: center;
  background-size: 75%;
  background-repeat: no-repeat;
  color: #59b5bf;
  /* align-self: center;
  align-items: center; */
  text-align: center;
  position: fixed;
  bottom: 6vw;
  left: 3vw;
  min-width: 40px;
  min-height: 40px;
  width: 4vw;
  height: 4vw;
  margin: 0px 10px;
  border-radius: 15px;
  /* border: 2px solid #59b5bf; */
  filter: drop-shadow(.1rem .1rem .2rem rgb(12, 42, 44));
  padding: 0px;
  animation: infoSwell 2s infinite;
  animation-timing-function: cubic-bezier(0, 0.8, 0.5, 1);
  animation-direction: alternate;
}
@keyframes infoSwell {
  from {border: 2px solid #59b5bf;}
  to {border: 2px solid #fff;}
}

#info:hover {
  cursor: pointer;
  border: 2px solid #fff;
  background-image: url(circle-info-solid-white.svg);
}
#freespace {
  height: 50%;
  }

/* #info:after{
  content:'i';
}
#info:hover:after{
  content:'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. ed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?';
}
#info:hover {
  font-size: 1.5vw;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: left;
  background-color: rgba(16, 48, 58, 0.8);
  width: 60%;
  height: 60%;
} */
#infoText {
  position: fixed;
  z-index: -1;
  width: 0%;
  height: 0%;
  font-size: large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  background-color: rgba(16, 48, 58, 0.8);
  border-radius: 15px;
  border: 2px solid #59b5bf;
  filter: drop-shadow(.1rem .1rem .2rem rgb(12, 42, 44));
  padding: 0px;
  overflow: scroll;
}
#infoText h1, h2, h3 {
  padding: 2vw 10vw;
}
#infoText p {
  padding: 1vw 10vw;
}
.closetop {
  position: sticky;
  top: 10px;
  left: 20px;
  text-align: left;
}
button {
  width: 4vw;
  background-color: #59b5bf;
  border: 2px solid rgba(58, 16, 51, 0.445);
  border-radius: 5px;
  padding: 0px 0px;
  margin: 0px 5px;
}
button:hover {
  background-color: rgba(218, 24, 24, 0.74);
  border-radius: 5px;
  cursor: pointer;
}
a {
    text-decoration: none!important;
    color: #59b5bf!important;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

/*  grid */

.container {
    display: grid;
    grid-template-rows: 1fr 3fr 2fr 5fr 2fr 2fr 2fr 1fr;
    grid-template-columns: 2fr 10fr 2fr;
    width: 100vw;
    height: 100vh;
    justify-items: center;
    align-items: center;
    

  }
.container > div {
  overflow: hidden;

}
/* columns */

/* .col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;} */

[class*="col-"] {
    float: left;
  }

  /* rows */

  .row::after {
    content: "";
    clear: both;
    display: table;
  }