html {
    font-family: 'Poppins', sans-serif;
    color: #59b5bf;
    padding: 0;
    text-shadow: 1px 1px 1px #2b5252;
  }
body {
    background-image: url(assets/still.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#virgoloco {
  background-image: url(assets/virgoloco_logo4.png);
  height: 10vw;
  width: 80vw;
  background-size: cover;
  background-position: center;
  align-self: self-end;
  animation: swell 1s infinite;
  animation-timing-function: ease;
  animation-direction: alternate;
}
@keyframes swell {
  from {height: 9vw; width: 70vw;}
  to {height: 10vw; width: 80vw;}
}
@keyframes spread {
  from {width: 00vw;}
  to {width: 54vw;}
}
@keyframes mapGrow {
  from {width: 10%; height: 15%;}
  to {width: 60%; height: 60%;}
}
#date {
  align-self: self-start;
  font-size: 2vw;
}
[id*="djs-"] {
  font-size: 4vw;
  align-self: self-end;
}

#location {
  background-image: url(assets/sloterpark.png);
  height: 7vw;
  width: 54vw;
  background-size: cover;
  background-position: center;
  align-self: self-start;
  /* animation: spread 5s infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate; */
}

#location {
  font-size: 6vw;
}
#loclink {
  align-self: self-start;
}
#map {
  background-color: rgba(16, 48, 58, 0.445);
  position: fixed;
  bottom: 20px;
  right: 0;
  width: 10%;
  height: 15%;
  border: 0;
  border-color:  #2b5252;
  margin-right: 10px;
  border-radius: 25px;
  border: 2px solid #59b5bf;
}
#map:hover {
  position:fixed; 
  bottom: 20px;
  right: 0;
  width: 60%;
  height: 60%;
  /* animation: mapGrow 0.5s 1; */
  /* grid-row-start:    4;
  grid-row-end:      8;
  grid-column-start: 2;
  grid-column-end:   4; */
} 
#info {
  font-size: 5vw;
  background-color: rgba(16, 48, 58, 0.445);
  /* align-self: center;
  align-items: center; */
  text-align: center;
  position: fixed;
  bottom: 20px;
  left: 0;
  width: 10%;
  height: 15%;
  margin-left: 10px;
  border-radius: 25px;
  border: 2px solid #59b5bf;
  padding: 20px;
}
#info:hover {
  font-size: 1vw;
  text-align: left;
  background-color: rgba(16, 48, 58, 0.8);
  width: 60%;
  height: 60%;
}
a {
    font-size: 2vw;
    text-decoration: none!important;
    color: #59b5bf!important;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

/*  grid */

.container {
    display: grid;
    grid-template-rows: 1fr 3fr 2fr 5fr 2fr 2fr 2fr 1fr;
    grid-template-columns: 2fr 10fr 2fr;
    width: 100vw;
    height: 100vh;
    justify-items: center;
    align-items: center;
    

  }
.container > div {
  overflow: hidden;

}
/* columns */

/* .col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;} */

.col {
}

[class*="col-"] {
    float: left;
  }

  /* rows */

  .row::after {
    content: "";
    clear: both;
    display: table;
  }