html {
    font-family: 'Poppins', sans-serif;
    color: #59b5bf;
    padding: 0;
    text-shadow: 1px 1px 1px #2b5252;
  }
body {
    background-image: url(still.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    resize: both;
    overflow: hidden;
}
@media only screen and (max-width: 600px) {
  body {
    background-image: url(still_mobile2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    resize: both;
    overflow: hidden;
  }
}

#virgoloco {
  background-image: url(virgoloco_logo4.png);
  backdrop-filter: blur(10px) brightness(85%);
  height: 10vw;
  width: 80vw;
  background-size: cover;
  background-position: center;
  align-self: self-end;
  margin: 50px 0px 5px 0px;
  filter: drop-shadow(.05rem .05rem .2rem rgb(12, 42, 44));
  /* animation: swell 1s infinite;
  animation-timing-function: ease;
  animation-direction: alternate; */
}
@keyframes swell {
  from {height: 9vw; width: 70vw;}
  to {height: 10vw; width: 80vw;}
}
@keyframes spread {
  from {width: 00vw;}
  to {width: 54vw;}
}

#date {
  align-self: self-start;
  font-size: 4.5vw;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#djs {
  font-size: 5vw;
  align-self: self-end;
  text-align: center;
}

#location {
  background-image: url(sloterpark.png);
  backdrop-filter: blur(30px);
  filter: drop-shadow(.05rem .05rem .2rem rgb(12, 42, 44));
  height: 6vw;
  width: 55vw;
  background-size: cover;
  background-position: center;
  align-self: self-end;
}

#location {
  font-size: 6vw;
}
#loclink {
  align-self: self-start;
}
#map {
  background-color: rgba(16, 48, 58, 0.445);
  width: 75%;
  height: 55vw;
  animation: mapGrow 1.5s 1;
  border: 0;
  border-color:  #2b5252;
  border-radius: 15px;
  border: 2px solid #59b5bf;
  filter: drop-shadow(.1rem .1rem .2rem rgb(12, 42, 44));
}

#info {
  font-size: 7vw;
  background-color: rgba(16, 48, 58, 0.445);
  background-image: url(circle-info-solid-blue.svg);
  background-position: center;
  background-size: 75%;
  background-repeat: no-repeat;
  color: #59b5bf;
  text-align: center;
  position: fixed;
  bottom: 6vw;
  left: 3vw;
  min-width: 40px;
  min-height: 40px;
  width: 4vw;
  height: 4vw;
  margin: 0px 10px;
  border-radius: 15px;
  filter: drop-shadow(.1rem .1rem .2rem rgb(12, 42, 44));
  padding: 0px;
  animation: infoSwell 2s infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}
@keyframes infoSwell {
  from {border: 2px solid #59b5bf;}
  to {border: 2px solid #ff0000;}
}

#info:hover {
  cursor: pointer;
  border: 2px solid #fff;
  background-image: url(circle-info-solid-white.svg);
}
#freespace {
  height: 50%;
  }


#infoText {
  position: fixed;
  z-index: -1;
  width: 0%;
  height: 0%;
  bottom: 3vw;
  left: 3vw;
  font-size: large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  background-color: rgba(16, 48, 58, 0.8);
  border-radius: 15px;
  border: 2px solid #59b5bf;
  filter: drop-shadow(.1rem .1rem .2rem rgb(12, 42, 44));
  padding: 0px;
  animation: fadeIn 2s;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: currentColor transparent; /* foreground background */
}
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}
#infoText h1, h2, h3 {
  padding: 2vw 10vw;
}
#infoText p {
  padding: 1vw 10vw;
}
.arrow-container {
  text-align: right;
  /* line-height: 40px; */
  position: fixed;
  bottom: 0px;
  right: 20px;
  z-index: 10;
}

.arrow {
  width:5vw;
  position: relative;
  animation: arrow 2s infinite;
  animation-timing-function: cubic-bezier(.7,.18,.98,.59);
  animation-direction: alternate-reverse;
}
@keyframes arrow {
  from {bottom: 15px; opacity: 0;}
  to {bottom: 0px; opacity: 1;}
}
.fadedArrow {
  width:5vw;
  position: relative;
  animation: fadedArrow 2s;
  animation-timing-function: ease;
}
@keyframes fadedArrow {
  from {opacity: 1;}
  to {opacity: 0;}
}
.closetop {
  position: sticky;
  top: 10px;
  left: 20px;
  text-align: left;
  width: 50%;
}
button {
  width: 4vw;
  background-color: #59b5bf;
  border: 2px solid rgba(58, 16, 51, 0.445);
  border-radius: 5px;
  padding: 0px 0px;
  margin: 0px 5px;
}
button:hover {
  background-color: rgba(218, 24, 24, 0.74);
  border-radius: 5px;
  cursor: pointer;
}
a {
    text-decoration: none!important;
    color: #59b5bf!important;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

/*  grid */

.container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 5fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 2fr 10fr 2fr;
    width: 100vw;
    height: 100vh;
    justify-items: center;
    align-items: center;

  }
.container > div {
  overflow: hidden;

}

[class*="col-"] {
    float: left;
  }

  /* rows */

  .row::after {
    content: "";
    clear: both;
    display: table;
  }